<div class="container-md py-5" style="height:700px">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-plus-square mr-1"></i>New Record</h5>
          <hr>
          <form method="POST" action="/records/new" class="was-validated">
            <div class="form-group form-row">
              <label for="record-name" class="col-md-2 col-form-label">
                Item
              </label>
              <div class="col-md-10">
                <input type="text" name="name" class="form-control is-invalid" style="font-family: monospace" id="record-name" placeholder="Latte"
                  required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="record-date" class="col-md-2 col-form-label">
                Date
              </label>
              <div class="col-md-10">
                <input type="date" name="date" class="form-control is-invalid" style="font-family: monospace" id="record-date" placeholder="" required>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="record-category" class="col-md-2 col-form-label">
                Category
              </label>
              <div class="col-md-10">
                <select name="category" id="record-category"  style="font-family: monospace" class="custom-select" required>
                  <option value="">select...</option>
                  {{#each categories}}
                  <option value="{{this.title}}">{{this.title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="record-amount" class="col-md-2 col-form-label">
                Amount
              </label>
              <div class="col-md-10">
                <input type="number" name="amount"  style="font-family: monospace" class="form-control is-invalid" id="record-amount" placeholder="100"
                  min="1" required>
                <small class="text-muted form-text">at least 1 NT$</small>
              </div>
            </div>
            <button class="btn btn-success" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>